*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg,);
}
.container{
    max-width: 700px;
    width: 100%;
    background-color: #ffff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 05px 10px rgba(0, 0, 0, 0.15);
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg);
}